.container{
    display: flex;
    flex-direction: row;
    min-height: 10vh;
}

.logo{
    flex-basis: 25%;
    text-align: center;
    padding-top: 5px;
}

.logo img{
    width: 303px;
    height: 93px;
    text-align: center;
}

.left_container{
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}
.navigation{
    flex-basis: 65%;
    align-items: center;
}

.number_telephone{
    padding-left: 5px;
    font-size: 21px;
}

.picture{
    height: 10px;
}

.social_media img{
    width: 44px;
    height: 34px;
}

.social_media{
    padding: 20px 0 0 10px;
}

.telephone{
    background-color: #6B6B6B;
    height: 30px;
    border-radius: 0 0 12px 0;
}

.telephone_icon{
    padding-top: 3px;
}

/* Display on phone vertically */
@media (max-width: 500px) {
    
        .number_telephone{
            font-size: 10px;
        }

        .social_media img{
            width: 32px;
            height: 24px;
        }
}

/* Display on phone horizontally */
@media (max-width: 800px) and (min-width: 500px) {
    
        .number_telephone{
            font-size: 10px;
        }

        .social_media img{
            width: 32px;
            height: 24px;
        }
} 