.header_portfolio{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: calc(80px + 2vmin);
    font-family: Duplexide;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.portfolio {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 50px 50px 0 50px;
    color: white;
}

.list {
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 30px;
}

.list2 {
    display: flex;
    flex: 1;
    justify-content: left;
    padding-left: 30px;
}

.container {
    padding-top: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
    height: 200px;
    width: 1000px;
}

.react-audio-player {
    width: 90%;
}

 /* Display on phone vertically */
@media (max-width: 400px) {
    .header_portfolio{
        font-size: calc(40px + 2vmin);
    }
    .portfolio {
        display: flex;
        flex-direction: column;
        font-size: calc(40px + 2vmin);
    }

    .list h1{
        font-size: calc(10px + 1vmin);
        margin-bottom: 10px;
    }

    .list2 h1{
        font-size: calc(10px + 1vmin);
        margin-bottom: 20px;
    }

    .player {
        margin-top: 10px;
    }

    .player h6 {
        font-size: calc(40px + 2vmin);
    }
}
        
/* Display on phone horizontally */
@media (max-width: 800px) and (min-width: 500px) {
    .header_portfolio{
        font-size: calc(40px + 2vmin);
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        font-size: calc(40px + 2vmin);
    }

    .list h1{
        font-size: calc(10px + 1vmin);
        margin-bottom: 10px;
    }

    .list2 h1{
        font-size: calc(10px + 1vmin);
        margin-bottom: 20px;
    }

    .player {
        margin-top: 10px;
    }

    .player h6 {
        font-size: calc(40px + 2vmin);
    }
}