.header_portfolio{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: calc(80px + 2vmin);
    font-family: Duplexide;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.portfolio {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 50px 50px 0 50px;
    color: white;
}

.list {
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

.list2 {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 30px;
}

.songTitle {
    font-size: 37px;
    padding-top: 100px;
    text-align: center;
    color: #FFFFFF;
}

.ReactAudioPlayer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.react-audio-player {
    width: 70%;
}

 /* Display on phone vertically */
@media (max-width: 400px) {
    .header_portfolio{
        font-size: calc(40px + 2vmin);
    }
    .portfolio {
        display: flex;
        padding: 0px;
        flex-direction: column;
        font-size: calc(40px + 2vmin);
    }

    .list {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }

    .list2 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }

    .list h1{
        display: flex;
        flex-direction: column;
        padding: 0px;
        font-size: calc(10px + 1vmin);
    }

    .list2 h1{
        display: flex;
        flex-direction: column;
        padding: 0px;
        font-size: calc(10px + 1vmin);
    }

    .player {
        margin-top: 10px;
    }

    .player h6 {
        font-size: calc(40px + 2vmin);
    }

    .songTitle {
    padding-top: 40px;
    font-size: 150%;
    }

    .portfolio_section {
    min-height: 80vh;
    }

    .react-audio-player {
    width: 82%;
    }
}
        
/* Display on phone horizontally */
@media (max-width: 800px) and (min-width: 500px) {
    .header_portfolio{
        font-size: calc(40px + 2vmin);
    }
    .portfolio {
        display: flex;
        padding: 0px;
        flex-direction: column;
        font-size: calc(40px + 2vmin);
    }

    .list {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }

    .list2 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }

    .list h1{
        display: flex;
        flex-direction: column;
        padding: 0px;
        font-size: calc(10px + 1vmin);
    }

    .list2 h1{
        display: flex;
        flex-direction: column;
        padding: 0px;
        font-size: calc(10px + 1vmin);
    }

    .player {
        margin-top: 10px;
    }

    .player h6 {
        font-size: calc(40px + 2vmin);
    }

    .songTitle {
    padding-top: 40px;
    font-size: 150%;
    }

    .portfolio_section {
    min-height: 80vh;
    }

    .react-audio-player {
    width: 82%;
    }
}