.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
    color: #fff;
	width: 100%;
	z-index: 10;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}

nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: #585454;
}

.admin-button{
	background-color: #000;
}

.admin-form, .admin-articles{
    position: fixed;
    z-index: 2;
    padding: 20vh 40vw 0 40vw;
}

.admin-form-none{
    display: none;
}

.articles_list-none{
    display: none;
}

.logo img{
    width: 19em;
    height: 5.8em;
    cursor: pointer;
}

.logo{
    flex-basis: 10%;
    padding-left: 1em;
}

.articles_list{
    text-align: center;
    margin: 10px;
    padding: 5px;
    letter-spacing: 3px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.social_media_container{
    flex-basis: 60%;
    text-align: center;
}

.social_media{
    color: #fff;
    width: 2.2em;
    height: 1.6em;
}

.menu-icon {
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-basis: 30%;
    padding-right: 1em;
}

.menu li a{
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 43px;
    padding: 5px 10px;
    margin-left: 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.menu a:hover, .articles_list:hover{
	background-color: #000;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgb(0, 0, 0);
	transition: all ease 0.2s;
}

@media screen and (max-width: 800px) {
    .menu li a {
      font-size: 14px;
      margin-left: 10px;
    }
    .admin-form{
    position: fixed;
    z-index: 2;
    padding: 10vh 10vw 0 10vw;
}
}

@media screen and (max-width: 600px) {
    .menu-icon{
        display: block;
        padding-left:  70px;
    }
    .nav{
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: space-between;
        height: 110px;
        padding: 0 20px;  
    }
    .menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: 4px solid #FF1414;
        right: 0;
        top: 110px;
        transition: all 0.5s ease-in-out;
      }
      .social_media_container{
          position: absolute;
          top: 62px;
          right: 40px;
      }
      .social_media{
        width: 2.2em;
        height: 1.3em;
        padding-top: 2px;
      }
      .logo{
          padding: 0 0 20px 30px;
      }
      .logo img{
        width: 11.81em;
        height: 3.31em;
        margin-bottom: 20px;
    }
      .menu li {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
      .menu li:last-child {
        margin-bottom: 0px;
      }
    
      .menu li a,
      .menu li:last-child a {
        width: 100px;
        display: block;
        margin: auto;
      }
    
      .menu.active {
        right: -100%;
        transition: all 0.5s ease-in-out;
      }

      .admin-articles{
          position: absolute;
          top: 220px;
          padding: 0 10px;
      }
}