.header_staff{
    text-align: center;
    padding-top: 120px;
    font-size: calc(80px + 2vmin);
    font-family: Duplexide;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.profile_img{
    width: 234.02px;
    height: 221.5px;
}

.profiles{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.profile{
    flex-basis: 280px;
    text-align: center;
}

.profile .profile_img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
}

.username{
    margin-top: 30px;
    font-size: 35px;
    font-family: Duplexide;
}

.profile h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

.profile_community{
    color: #C4C4C4;
    margin-top: 10px;
    width: 87.66px;
    height: 25.36px;
}

/* Responsive on other devices */

@media only screen and (max-width: 1150px){
    .profiles{
        flex-direction: column;
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p{
        text-align: center;
        margin: 20px 60px 0 60px;
        font-size: 20px;
    }
    .profile_community{
        margin-bottom: 20px;
    }
}

/* Display on phone vertically */
@media (max-width: 500px) {
    .header_staff{
        font-size: calc(40px + 2vmin);
    }
}

/* Display on phone horizontally */
@media (max-width: 800px) and (min-width: 500px) {
    .header_staff{
        font-size: calc(40px + 2vmin);
    }
}