.header_staff{
    text-align: center;
    padding-top: 1.1em;
    font-size: calc(80px + 2vmin);
    font-family: Duplexide;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.profiles{
    display: flex;
    justify-content: space-around;
    padding-top: 4.2em;
}

.profile{
    flex-basis: 320px;
    text-align: center;
}

.profile .profile_img{
    height: 16.25em;
    width: 16.25em;
    box-shadow: 4px 8px 22px rgb(0, 0, 0);
    border-radius: 50%;
}

.profile_img:hover{
    height: 18em;
    width: 18em;
    transition: 0.6s ease-in-out;
}

.username{
    margin-top: 1em;
    font-size: 2em;
    font-family: Duplexide;
    letter-spacing: 1px;
}

.profile h5{
    font-size: 1.13em;
    margin-top: 1.24em;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p{
    font-size: 1.13em;
    margin-top: 1.25em;
    text-align: justify;
    color: white;
}

.profile_community{
    color: #C4C4C4;
    margin-top: 0.63em;
    width: 5.48em;
    height: 1.59em;
}

.profile_community:hover{
    width: 6.10em;
    height: 2.21em;
    transition: 0.6s ease-in-out;
}

/* Responsive on other devices */

@media only screen and (max-width: 1150px){
        
        .profiles{
            flex-direction: column;
        }
        .profile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .username{
            color: white;
            font-size: 1.8em;
        }
        .profile .profile_img{
            height: 12.25em;
            width: 12.25em;
        }
        .profile p{
            text-align: center;
            margin: 20px 50px 10px 50px;
            font-size: 20px;
        }
        .profile_community{
            margin-bottom: 1.25em;
        }
}

/* Display on phone vertically */
@media (max-width: 500px) {
        
        .header_staff{
            font-size: calc(40px + 2vmin);
        }
}

/* Display on phone horizontally */
@media (max-width: 800px) and (min-width: 500px) {
        
        .header_staff{
            font-size: calc(40px + 2vmin);
        }
}