.navigation ul{
  display: flex;
  list-style-type: none;
  padding-right: 30px;
}

.main a{
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
    /* font-size: calc(25px + 2vmin); */
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
  }

.main li{
  text-align: center;
}

  a:hover{
    color: black;
  }