.App div{
  width: 100%;
  margin: 0 auto;
}

.slider{
  height: 70vh;
}

.articles_section{
  background-color: #373737;
  min-height: 100vh;
}

.staff_section{
  background-color: #585454;
  min-height: 100vh;
}