.App div{
  width: 100%;
  margin: 0 auto;
}

main{
  width: 100%;
  background-image: url('../images/background.png');
  background-color: #151515;
}

.articles_section{
  min-height: 100vh;
}

.staff_section{
  min-height: 100vh;
}